.wrapper {
  color: white;
  background-color: black;
  padding: 1em;
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;

  .footer-menu {
    width: 30%;

    ul {
      display: flex;
      justify-content: space-between;
      text-decoration: none;

      a {
        color: white;
      }
    }
  }

  .social {
    display: flex;

    i {
      font-size: 2em;
    }
  }
}

i:nth-child(2) {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
