.language-menu{
    background-color: white;
}

.hidden{
    display: none;
}

.main-flag{
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.flag{
    width: 40px;
    border-radius: 10%;
}

.flex{
    width: 55px;
    position: absolute;
    height: 100px;
    top:10px;
    right: 15px;
    cursor: pointer;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}