/* GLOBAL */
* {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  padding: 0;
  font-family: 'Inclusive Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
  background-color: #f7f7fa;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

/*HEADER*/
.header {
  box-shadow: 10px 5px 5px 5px rgb(104, 100, 100);
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.flex-header {
  background: linear-gradient(#d0d0f0, #f7f7fa);
  height: 12em;
  padding: 2em;
  padding-bottom: 1em;
  border-radius: 0 0 15px 15px;
}

.fa-bars {
  font-size: 2em;
  padding-top: 0.5em;
}

.presentation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 2.5em;
  padding-bottom: 1.5em;
}

.presentation p {
  min-width: 225px;
  padding-left: 0.5em;
  font-family: 'Allison', cursive;
  font-weight: 300;
  font-style: normal;
  font-size: 1.9em;
  line-height: 1em;
}

#picture {
  position: relative;
  top: 10%;
}

#picture img {
  border-radius: 50% 50% 50% 50%;
  width: 153px;
}

#title {
  min-width: 270px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5em;
}

#title p {
  font-size: 0.8em;
  text-shadow: 5px 5px 5px rgb(104, 100, 100);
}

nav {
  height: 0em;
  background-color: #f7f7fa;
  overflow: hidden;
}

nav li {
  display: block;
  text-align: center;
  background-color: #f7f7fa;
  transition: background-color 0.5s;
  line-height: 1.8em;
}

nav li:hover {
  background-color: #d0d0f0;
  transform: scale(1.2);
}

nav ul {
  width: 100%;
}

.showMenu {
  height: 8em;
  transition: height 0.5s;
}

.wrapper {
  width: 87%;
  margin: auto;
}

.flex-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section,
.paragraphe-parcours,
.paragraphe-realisations {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hidden {
  height: 0;
  overflow: hidden;
}

.showApropos {
  height: 37em;
  transition: height 0.5s;
}

.showParcours {
  height: 12em;
  transition: height 0.5s;
}

.question {
  padding-top: 1em;
  padding-bottom: 0.3em;
}

.question > strong {
  font-weight: 400;
}

.title {
  font-size: 1.3em;
  font-weight: 500;
  padding-bottom: 0.5em;
}
#parcours {
  text-align: center;
}

#realisations .title {
  text-align: center;
  padding-bottom: 1.5em;
}

.realisations-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 2em;
  column-gap: 1em;

  text-align: center;
}

.realisation-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
  height: 250px;
  border: 1px solid rgb(223, 219, 219);
  box-shadow: 10px 5px 5px rgb(150, 148, 148);
  border-radius: 10%;
}

.realisation-flex:hover {
  transform: scale(1.1);
}

.realisation-flex :nth-child(3) {
  border-top: 1px solid rgb(223, 219, 219);
  height: 3em;
}
.realisation-flex img {
  width: 90%;
  height: 200px;
  border-top: 1px solid rgb(223, 219, 219);
  border-radius: 10%;
  margin: auto;
}

.realisation-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-flex {
  display: flex;
  justify-content: center;
  min-width: 320px;
}

.skills {
  justify-content: space-around;
  display: flex;
  font-size: 0.6em;
  padding-bottom: 2em;
  min-width: 320px;
}

.front {
  color: rgb(84, 84, 190);
  display: flex;
  min-width: 33%;
  justify-content: center;
  gap: 0.3em;
}

.back {
  color: rgb(22, 151, 33);
  display: flex;
  min-width: 27%;
  justify-content: center;
  gap: 0.3em;
}

.bdd {
  color: rgb(211, 57, 57);
  display: flex;
  min-width: 32%;
  justify-content: center;
  gap: 0.3em;
}

.addicional-skills {
  color: rgb(78, 28, 124);
  display: flex;
  min-width: 27%;
  justify-content: center;
  gap: 0.3em;
}

.programming-language-front {
  display: flex;
  flex-direction: column;
  width: 36%;
  text-align: left;
  gap: 0.1em;
}

.programming-language-back {
  display: flex;
  flex-direction: column;
  width: 40%;
  text-align: right;
}

.programming-language-bdd {
  display: flex;
  flex-direction: column;
  width: 45%;
  text-align: right;
  gap: 0.1em;
}

.addicional-skills-name {
  display: flex;
  flex-direction: column;
  width: 40%;
  text-align: right;
}

.programming-language p {
  display: block;
}

.note-star-front,
.note-star-back,
.note-star-bdd,
.note-star-addicional-skills {
  display: flex;
  flex-direction: column;
}

#plus {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  gap: 1em;
  font-size: 0.65em;
}

.fa-square-plus {
  font-size: 2.5em;
  color: #656575;
}

.fa-envelope {
  font-size: 2.2em;
  color: #656575;
}

#languages,
#sports,
#hobbies {
  width: 30%;
}

#contact {
  text-align: center;
}

.icon-container {
  display: flex;
  justify-content: center;
  padding-bottom: 0.5em;
  padding-top: 1em;
}

#plus-container {
  padding: 2em;
  padding-bottom: 1.5em;
  box-shadow: 5px 10px 10px -5px rgb(104, 100, 100);
}

.footer {
  border-radius: 10px 10px 0 0;
}

.footer-bottom-container {
  padding-right: 2em;
  padding-left: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  background-color: #858599;
  border-radius: 10px 10px 0 0;
}

.footer-bottom-container p {
  color: white;
  font-size: 0.5em;
}

.fa-linkedin {
  color: white;
  font-size: 2em;
}

.spacer {
  height: 2em;
}

.spacer-parcours {
  height: 2.5em;
}

.noShow {
  display: none;
}

.explanation {
  height: 0;
  width: 150px;
  background: linear-gradient(#e99595, #a9addb);
  position: absolute;
  border-radius: 10%;
  transition: height 2s;
  overflow: hidden;
  font-size: 0.9em;
}

.explanation p {
  padding: 0.5em;
  padding-top: 1em;
}

.explanationShowRea1 {
  height: 6.5em;
}

.explanationShowRea2 {
  height: 7.8em;
}

.explanationShowRea3 {
  height: 7.5em;
}

@media screen and (min-width: 430px) {
  .showApropos {
    height: 36em;
  }
}

@media screen and (min-width: 480px) {
  .skills {
    font-size: 0.68em;
    width: 450px;
  }

  .showApropos {
    height: 35em;
  }
  #plus {
    font-size: 0.8em;
  }
  .footer-bottom-container p {
    font-size: 0.7em;
  }
}

@media screen and (min-width: 530px) {
  .showApropos {
    height: 30em;
  }
}

@media screen and (min-width: 600px) {
  .presentation p {
    font-size: 1.9em;
  }
  .skills {
    font-size: 0.7em;
  }

  .showApropos {
    height: 28em;
  }
  #plus {
    font-size: 0.8em;
  }

  .footer-bottom-container p {
    font-size: 0.8em;
  }
}

@media screen and (min-width: 769px) {
  /*HEADER*/
  .presentation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .header {
    text-align: right;
  }

  #picture {
    width: 153px;
  }
  .flex-header {
    height: 11em;
  }
  #title {
    display: flex;
    flex-direction: column;
  }
  .presentation {
    justify-content: center;
    gap: 1em;
  }

  .presentation p {
    font-size: 2.3em;
  }

  nav {
    height: 2em;
    display: block;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
  }
  nav ul li {
    width: 25%;
    justify-content: space-around;
    font-size: 1.3em;
  }

  .showMenu {
    height: 2em;
  }

  nav li:hover {
    background-color: #d0d0f000;
    transform: scale(1.2);
    -webkit-text-stroke: 1px rgb(151, 144, 144);
    text-stroke: 1px #858599;

    color: rgb(236, 230, 230);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ajoute une ombre floue */
  }

  .flex-main {
    display: flex;
  }

  .realisations-flex {
    column-gap: 3em;
  }

  .fa-bars {
    display: none;
  }

  .skills {
    justify-content: center;
    gap: 0.5em;
    display: flex;
    font-size: 0.9em;
    width: 600px;
  }

  .showApropos {
    text-align: center;
  }
  #plus {
    font-size: 1em;
  }

  #languages {
    width: 40%;
  }
  .footer-bottom-container p {
    font-size: 0.9em;
  }

  .front {
    width: 34%;
  }

  .back {
    width: 34%;
  }

  .bdd {
    width: 34%;
  }

  .bdd {
    width: 34%;
  }
  .addicional-skills {
    width: 29%;
  }
}

@media screen and (min-width: 1280px) {
}
