.sbh-logo {
  display: flex;
  position: relative;
  width: 100vw;
  height: 6em;
  background-color: rgb(0, 0, 0);

  img {
    width: 120px;
    display: block;
    position: absolute;
    top: -2em;
    left: 50%;
    border: 0.5px solid white;
    transform: translateX(-50%);
  }
}

#burger-menu {
  text-align: center;
  font-size: 1.3em;
  cursor: pointer;
  color: rgb(202, 201, 201);
}

.nav {
  background-color: black;
  color: white;
  font-size: 1.5em;
  font-family: 'Poiret One', sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;

  .nav-labels {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    position: absolute;
    z-index: 1000;
    background-color: black;
  }

  li {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    border: 2.5px solid rgba(250, 250, 250, 0.1);
  }
}

a {
  color: white;
  &:hover {
    color: #b8860b;
  }
}

.hidden {
  display: none;
}

//Responsive
@media screen and (max-width: 755px) {
  li:hover {
    background-color: rgb(54, 53, 53);
  }
}

@media screen and (min-width: 450px) {
  .nav {
    font-size: 1.7em;
  }
  .sbh-logo {
    height: 7em;
    img {
      width: 150px;
    }
  }
}

@media screen and (min-width: 756px) {
  .nav {
    font-size: 2em;

    .nav-labels {
      width: 80%;
      flex-direction: row;
      justify-content: space-around;
      position: static;

      li {
        width: 100%;
        text-align: center;
        height: 2em;
        border: none;
      }
    }
  }

  .sbh-logo {
    height: 8.5em;
    img {
      width: 170px;
    }
  }

  #big-menu {
    display: contents;
  }

  #burger-menu {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .nav {
    font-size: 2em;
    .nav-labels {
      width: 70%;
    }
  }
  .sbh-logo {
    height: 10em;
    img {
      width: 200px;
    }
  }
}
