
.sbh-logo{
    display: table-cell;
    position: relative;
    width: 100vW;
    height:6em;
    background-color: rgba(0,0,0,0);


    img{
        width: 120px;
        display: block;
        position: absolute;
        top: -2em;
        left:50%;
        transform: translateX(-50%);

    }
}

#burger-menu{
    text-align: center;
    font-size: 1.3em;
    padding-bottom: 0.5em;
    cursor: pointer;
    color: rgb(161, 159, 159);

}

.nav{
    background-color: black;
    color: white;
    font-size: 1.5em;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;

    .nav-labels{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items:center;
        margin: auto;
        position: absolute;
        z-index: 1000;
        background-color: black;
    }


    li{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.5em;
        border: 2.5px solid rgba(250,250,250,0.1);
        
    

    }
}

        a{
            color: white;
                &:hover{
                    color:#B8860B ;
                }
        }

.hidden{
    display: none;
}

//Responsive
@media screen and (max-width:755px){
    li:hover{
        background-color:rgb(54, 53, 53) ;
    }


}

 @media screen and (min-width: 450px) {
    .nav{
        font-size: 3em;
    }
    .sbh-logo{
        height:9em;
        img{
            width: 170px;
        }
    }
 }


@media screen and (min-width: 756px) {
        .nav{
        font-size: 2.5em;
    
            .nav-labels{
                width: 80%;
                flex-direction: row;
                justify-content: space-around;
                position: static;

                    li{
                        width: 100%;
                        text-align: center;
                        height: 2em;
                        border: none;
                    }
            }
        }

        .sbh-logo{
            height:11em;
            img{
                width: 200px;
            }
    }


        #big-menu{
        display: contents;
    }

        #burger-menu{
        display: none;
    }

}


@media screen and (min-width: 1024px) {
        .nav{
        font-size: 2em;
        .nav-labels{
        width: 70%;
    }
}
                .sbh-logo{
            height:10em;
            img{
                width: 200px;
            }
    }
}